@model List<QRGenerador.Models.QRAtributos>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <h2 align="center">Historial de códigos QR generados</h2>
            <br />
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    URL
                                </th>
                            </tr>
                        </thead>    
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.URL)
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
                <br />
                <a asp-action="Index" class="btn btn-primary"> Regresar al inicio</a>
            </div>
    </div>
</div>


    
