@model string
@{
    ViewData["Title"] = "Qr Code";
}

<div class="text-center">
    <h1 class="display-4">Codigo QR</h1>
    <img alt="Embedded QR Code" class="img-responsive" src="data:image/png;base64,@Model" height="450" width="450" />
    <br />
    <div>
        <a href="data:image/png;base64,@Model" download="qr-code.jpg">Descargar QR Code</a> |
        <a asp-action="Index"> Generar nuevo codigo</a>
    </div>

</div>
